@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Whitney';
    src: url('/fonts/Whitney-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}