/* .DivSlideOverlay::before {
	z-index: -1;
	content: "";
	width: 100%;
	height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: rgb(255, 255, 255);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
} */

.DivSlideOverlay {
	height: 100%;
	width: 100%;
	position: relative;
}

.DivVideoSlideContainer {
	height: 100%;
	width: 100%;
	position: relative;

	/* Needed to center thumbnail */
	display: flex;
	justify-content: center;
	align-items: center;


}

.DivFakeVideoSlide {
	height: 100%;
	width: 100%;
	position: relative;
}